@font-face{
    font-family: "mozis";
    src: url("fonts/astron_boy/astronbo.ttf");
    font-weight: 100;
}
@font-face{
    font-family: "mozis-bigger";
    src: url("fonts/amerika/AMERIKA_.ttf");
    font-weight: 900;
}
h1 {
    font-size: 32px; color: blueviolet;
    font-family: "mozis-bigger";
}
h2 {
    font-family: "mozis";
    color: chartreuse;
}
p{
    color: crimson; font-size: larger;
}
img{
    width: 100px;
}
