h1 {
    font-size: 32px; color: blueviolet;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}
p{
    color: crimson; font-size: larger;
}
img{
    height: 300px;
}