@font-face{
    font-family: "mozis";
    src: url("fonts/astron_boy/astronbo.ttf");
    font-weight: 900;
}
@font-face{
    font-family: "mozis-bigger";
    src: url("fonts/akafrivolity/akaFrivolity.ttf");
    font-weight: 100;
}

/*
@font-face{ 
    font-family: "josefin"; 
    src: url("fonts/josefin/JosefinSans-VariableFont_wght.ttf");
}
*/

h1 {
    font-size: 48px; color: rgb(41, 35, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    
}
h2 {
    font-family: "mozis";
    color: rgb(197, 78, 128);
}
p{
    color: crimson; font-size: larger;
}
img{
    width: 150px;
    margin: 25px;
    box-shadow: 5px, 10px, 20px pink;
}
